body {
    background-color: #000;
    color: white;
    height: 100%;
    width: 100%;
}


#main {
    background-color: #000;
    height: 800px;
    width: 1400px;
}


#mic {
    display: block;
    float: left;
    height: 800px;
    position: fixed;
    width: 1400px;
}


/*-------------------------------------
    Main Content Area Sytles 
-------------------------------------*/

#display {
    display: block;
    float: left;
    height: 800px;
    position: relative;
    width: 1100px;
}


#lyrics {
    background: rgba(0,0,0,0.4);
    border-radius: 10px;
    border-radius: 10px;
    display: block;
    float: left;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 200;
    line-height: 1.5;
    margin-left: 100px;
    margin-top: 200px;
    padding: 25px;
    position: relative;
    width: 75%;
}


#continue {
    background-color: #000;
    border: 1px solid #000;
    clear: left;
    color: white;
    display: inline;
    float: left;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 1.25em;
    height: 35px;
    margin-left: 125px;
    margin-top: 50px;
    position: relative;
    width: 100px;
}


#profile {
    display: none;
}


#feedback {
    margin-top: 25px;
}


li {
    color: #911313;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 200;
    font-size: 1em;
    list-style: none;
}

/*----------------------------------------
    Sidebar w/ Answer Options and Results 
----------------------------------------*/
#sidebar {
    background: rgba(78, 78, 78, 0.4);
    display: block;
    float: right;
    height: 800px;
    position: relative;
    width: 300px;
}


#sidebar p {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 200;
    font-size: 1.5em;
    text-align: center;
}


#answer1, #answer2, #answer3, #answer4, #answer5 {
    border-radius: 10px;
    display: inline;
    float: left;
    height: 113px;
    margin-left: 50px;
    width: 200px;
}
    
    
#answer1:hover, #answer2:hover, #answer3:hover, #answer4:hover, #answer5:hover {
    background-position: -200px 0;
}


#answer1 {
    background-image: url(../images/doom.gif);
    background-repeat: no-repeat;
    margin-top: 40px;
}


#answer2 {
    background-image: url(../images/edan.gif);
    background-repeat: no-repeat;
    clear: left;
    margin-top: 40px;
}


#answer3 {
    background-image: url(../images/jayelect.gif);
    background-repeat: no-repeat;
    clear: left;
    margin-top: 40px;
}


#answer4 {
    background-image: url(../images/lupe.gif);
    background-repeat: no-repeat;
    clear: left;
    margin-top: 40px;
}


#answer5 {
    background-image: url(../images/thought.gif);
    background-repeat: no-repeat;
    clear: left;
    margin-top: 40px;
}



